*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}
body{
    font-family:"Poppins",sans-serif;
    background:#0D0D0D;
    color:#fff;
    overflow-x:hidden;
}
:root{
    --bg:#0D0D0D;
    --bg-card:#171717;
    --primary:#C89B3C;
    --primary-hover:#D9AC48;
    --text:#FFFFFF;
    --text-secondary:#B8B8B8;
    --border:#2A2A2A;
}
.container{
    width:100%;
    max-width:1400px;
    margin:auto;
    padding:0 60px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
header{
    position:absolute;
    width:100%;
    top:0;
    left:0;
    z-index:999;
    padding:25px 0;
}
.logo{
    display: flex;
    justify-content: left;
    font-size:32px;
    color:var(--primary);
    font-family:"Playfair Display",serif;
    font-weight:700;
}
.navbar ul{
    display:flex;
    gap:40px;
    list-style:none;
}
.navbar a{
    text-decoration:none;
    color:white;
    font-size:25px;
    transition:.3s;
}
.navbar a:hover{
    color:var(--primary);
}